.blanc-slider-container {
  position: relative;
  overflow: hidden;
  display: block;
}

.blanc-slider-wrapper {
  position: relative;
  overflow: hidden;
}

.blanc-slider-wrapper:before {
  content: '';
  display: table;
  clear: both;
}

.blanc-slide {
  display: none;
  white-space: nowrap;
  background-color: red;
  height: 100%;
  width: 400px;
}

.blanc-slide.active {
  display: inline-block;
}

.blanc-slider-navigation {
  display: flex;
}

.blanc-slider-navigation-item {
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

.blanc-slider-navigation-item.active {
  background-color: black;
}
