<div class="blanc-slider-container">
    <div class="blanc-slider-wrapper">
        {{
            yield
            (hash
                slide=(component
                    "slide"
                    register=(action "registerItem")
                    blancItems=blancItems
                )
                play=(action "play")
                stop=(action "stop")
                previous=(action "slidePrevious")
                next=(action "slideNext")
                autoPlayActive=autoPlayActive
            )
        }}
    </div>
</div>
