<div class="blanc-slider-container">
    <div class="blanc-slider-wrapper">
        {{
            yield
            (hash
                slide=(component
                    "slide"
                    register=(action "registerItem")
                    blancItems=blancItems
                )
                previous=(action "slidePrevious")
                next=(action "slideNext")
            )
        }}
    </div>
</div>
