{{#blanc-slider as |content|}}
    {{#content.slide}}
        Slide one and some content
    {{/content.slide}}
    {{#content.slide}}
        And an other slide
    {{/content.slide}}
    {{#content.slide}}
        Yet an other one
    {{/content.slide}}
    {{#content.slide}}
        An Other one (Dj Khaled)
    {{/content.slide}}
    {{#content.slide}}
        The final slide
    {{/content.slide}}
    {{#content.slide}}
        The final final slide
    {{/content.slide}}

    <button onclick={{action content.previous}} type="button">
        Previous
    </button>
    <button onclick={{action content.next}} type="button">
        Next
    </button>
{{/blanc-slider}}
